#title {
    text-align: center;
    font-size: 50px;
}
#board {
    width: 350px;
    height: 420px;
  
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
.tile {
    border: 2px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    margin: 2.5px;
    text-align: center;
    color: black;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: green;
    color: rgb(0, 0, 0);
    border-color: white
}
.present {
    background-color: rgb(245, 255, 139);
    color: rgb(0, 0, 0);
    border-color: white
}
.absent {
    background-color: darkgray;
    color: rgb(0, 0, 0);
    border-color: white
}
#answer {
    
    text-align: center;
}